.btn {
  text-decoration: none;
  padding: $padding-v $padding-h;
  border-radius: $border-radius-medium;
  user-select: none;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $white-gray;
  }

  &-disabled {
    opacity: 0.5;
    &:hover {
      cursor: default;
    }
  }
}
