.main {
  display: flex;
  width: 100vw;
  height: 10vh;
  margin-left: $navbar-width;
}

.hidden {
  display: none !important;
}

.align-center {
  align-items: center !important;
}

@media screen and(max-width: $bp-medium) {
  .main {
    margin-left: $navbar-width-small;
  }
}

@media screen and (max-width: $bp-x-small) {
  .main {
    margin-left: 0;
  }
}
