#main {
  display: flex;
  width: auto;
  height: 100vh;
  margin-left: $navbar-width;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

.align-center {
  align-items: center !important;
}

.center{
  @include center;
}

@media screen and(max-width: $bp-medium) {
  #main {
    margin-left: $navbar-width-small;
  }
}

@media screen and (max-width: $bp-x-small) {
  #main {
    margin-left: 0;
  }
}
