.nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  min-width: 100px;
  max-width: 400px;
  padding: $padding-v $padding-h * 2;
  overflow-y: auto;
  border-right: 1px solid $white-gray;

  .navbar {
    &__item {
      display: flex;
      align-items: center;
      width: auto;
    }

    &__active {
      a {
        font-weight: 600 !important;
      }
    }

    a {
      font-weight: 400;
      font-size: 18px;
      transition: all 0.3s ease;
      margin-left: $margin-h;
      text-transform: capitalize;
    }

    img {
      width: 32px;
      height: 32px;
    }

    &__icon {
      margin-bottom: $margin-v;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: 30px;

      &:hover {
        background-color: $blue-light;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    &__tweet {
      background-color: $blue;
      transition: all 0.3s ease;
      color: white;
      font-weight: 600;
      font-size: 16px;
      width: 216px;
      height: 50px;
      text-align: center;

      &:hover {
        background-color: $blue-dark;
      }
    }
  }
}

.profile {
  display: flex;
  align-items: center;

  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: $margin-h/2;

    span {
      font-size: 12px;
      color: gray;
    }
  }

  &__dots {
    margin-left: $margin-h;
    width: 18px;
    height: 18px;
  }
}
