.nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  min-width: 100px;
  max-width: 416px;
  padding: $padding-v * 2 $padding-h * 2;
  overflow-y: auto;
  border-right: 1px solid $white-gray;

  .navbar {
    li {
      margin-bottom: $margin-v * 3;

      &:nth-last-child(2) {
        margin: $margin-v * 2 0;
      }

      a {
        @include btn;
        font-weight: 400;
        font-size: 18px;
        transition: all 0.3s ease;

        &:hover {
          background-color: $white-gray;
        }
      }
    }

    &__icon {
      margin-bottom: $margin-v * 2;
      border-radius: 50%;
    }

    &__tweet {
      background-color: $blue;
      transition: all 0.3s ease;
      color: white;
      font-weight: 600;
      font-size: 16px;
      width: 216px;
      height: 48px;
      text-align: center;

      &:hover {
        background-color: $blue-dark;
      }
    }
  }
}
