.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease;

  &:hover {
    background-color: $white-gray;
    cursor: pointer;
  }

  &-wrapper {
    padding: $padding-v $padding-h;
  }

  &__reason {
    display: flex;
    align-items: center;
    margin-left: $margin-h * 3;
    margin-bottom: $margin-v/2;

    svg {
      margin-right: $margin-h;
      color: $gray;
    }

    span {
      font-weight: 600;
      font-size: 12px;
      color: $gray;
    }

    &__person {
      margin-right: 4px;
    }
  }

  &__main {
    display: flex;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  &__content {
    padding: 0 $padding-h * 1.5;
    position: relative;
    width: 100%;

    &__hide-line {
      &::before {
        content: "";
        display: none !important;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $white-gray;
      left: -26px;
      top: 0;
      width: 2px;
      height: calc(100% + $padding-v * 4);
      z-index: 2;
      margin-top: $margin-v;
    }
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 4px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border-radius: 50% !important;
      @include center;

      &:hover {
        background-color: $blue-light;
        color: $blue-dark;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;

    h4 {
      font-size: 15px;
      margin-right: $margin-h/2;
      font-weight: 600;
    }

    &__id,
    &__time {
      font-size: 14px;
      font-weight: 400;
      color: $gray;
    }

    &__id {
      margin-right: 2px;
    }
  }

  &__text {
    width: 100%;
    padding-bottom: $padding-v * 2;
    
    p {
      font-size: 14px;
      overflow-wrap: break-word;
    }
  }

  &__image {
    img {
      border-radius: 18px;
      width: 100%;
      height: auto;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-wrapper {
      position: relative;

      button {
        padding: 8px !important;
        margin: 0 !important;
        background-color: transparent;
      }

      button,
      span {
        color: $gray;
      }

      &:hover {
        cursor: pointer;

        button {
          background-color: $blue-light;
          color: $blue-dark;
        }

        span {
          color: $blue-dark;
        }
      }
    }
  }

  &__end {
    height: 1px;
    background-color: $white-gray;
    width: 100%;
  }
}
