.post {
  display: flex;
  flex-direction: column;
  padding: $padding-v $padding-h;

  &__reason {
    display: flex;
    align-items: center;
    margin-left: $margin-h * 3;
    margin-bottom: $margin-v/2;

    svg {
      margin-right: $margin-h;
      color: rgb(83, 100, 113);
    }

    span {
      font-weight: 600;
      font-size: 12px;
      color: rgb(83, 100, 113);
    }

    &__person {
      margin-right: 4px;
    }
  }

  &__main {
    display: flex;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &__comment-line {
      width: 2px;
      height: calc(100% + 50px);
      overflow-y: visible;
      z-index: 2;
      background-color: $white-gray;
      margin-top: $margin-v;
    }
  }
}
