.right-side {
  width: calc(100% - $home-main-size - 15%);
  margin-left: $margin-h * 2;

  &__content {
    position: sticky;
    top: 100px;
  }

  &__box {
    min-width: 100%;
    border-radius: $border-radius-normal;
    background-color: $gray-light;
    margin-bottom: $margin-v * 2;

    &__title {
      font-size: 18px;
      padding: $padding-v * 2 $padding-h * 2;
    }
  }

  &__item {
    padding: $padding-v * 2 $padding-h * 2;
    display: flex;
    justify-content: space-between;

    &:last-child {
      border-radius: 0 0 $border-radius-normal $border-radius-normal;
    }

    &:hover {
      background-color: $white-gray;
      cursor: pointer;
    }

    &__content {
      padding-right: $padding-h;
    }

    &__title {
      font-size: 12px;
      font-weight: 500;
      color: $gray;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    &__image {
      img {
        width: 60px;
        height: 60px;
        border-radius: $border-radius-small;
      }
    }
  }
}

.search-wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: $right-side-top-header;
  position: sticky;
  z-index: 10;
  top: 0;
}

.search {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    height: 44px;
    border-radius: $border-radius-medium;
    display: flex;
    align-items: center;
    background-color: $white-gray;
    outline: none;
    padding-left: $padding-h * 5;
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    border: none;

    &::-webkit-input-placeholder {
      color: gray;
      font-size: 14px;
      font-family: inherit;
    }

    &:focus {
      background-color: white;
      border: 1px solid $blue;

      ~ .search__magnify,
      ~ .search__clear {
        color: $blue;
      }

      ~ div {
        display: block;
      }
    }
  }

  &__magnify {
    position: absolute;
    left: $padding-h * 2;
    top: 14px;
    color: $gray;
  }

  &__clear {
    position: absolute;
    right: $padding-h * 2;
    top: 14px;
    color: $gray;

    &:hover {
      cursor: pointer;
    }
  }

  &__results {
    display: none;
    position: absolute;
    top: 48px;
    left: -10px;
    width: calc(100% + 20px);
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: $border-radius-small;

    > span {
      text-align: center;
    }

    > span {
      display: block;
      padding-top: $padding-v * 2;
      font-size: 14px;
      color: $gray;
      font-weight: 400;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: $padding-v * 2 $padding-h/2;
      min-height: 80px;

      &:hover {
        background-color: $blue-light;
        cursor: pointer;
      }

      &:last-child {
        border-radius: 0 0 $border-radius-small $border-radius-small;
      }

      &__image {
        height: 100%;
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: $border-radius-circular;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: $padding-h;
        height: 100%;
        width: 100%;

        > span {
          display: block;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-x-small) {
  .right-side {
    display: none;
  }
}
