.home {
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid $white-gray;
  border-left: 1px solid $white-gray;
  width: $home-main-size;
  height: fit-content;

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $right-side-top-header;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);

    svg {
      padding: $padding-v;
      color: $gray;

      &:hover {
        background-color: $white-gray;
        border-radius: $border-radius-circular;
      }
    }
  }

  &__title {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
  }
}

@media screen and (max-width: $bp-x-small) {
  .home {
    width: 100% !important;
    padding-bottom: $padding-v * 15;

    &__title-wrapper {
      display: none;
    }
  }
}
