.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $white-gray;
  padding: $padding-v * 2 $padding-h;
  width: 50%;
  background-color: $white-gray;
}
