.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $white-gray;
  padding: $padding-v * 4 $padding-h;
  width: 40%;
  background-color: rgb(255, 200, 200);

  &__title {
    font-weight: 600;
    font-size: 20px;
  }
}
