$padding-v: 8px;
$padding-h: 12px;
$margin-v: 10px;
$margin-h: 12px;

// colors
$white-gray: rgba(15, 20, 25, 0.1);
$blue: rgb(29, 155, 240);
$blue-dark: rgb(26, 140, 216);
$blue-light: rgba(29, 155, 240, 0.1);
$gray: rgb(83, 100, 113);
$gray-light: rgb(247, 249, 249);

// breakponts
$bp-medium: 1264px;
$bp-small: 960px;
$bp-x-small: 820px;

// width
$navbar-width: 27%;
$navbar-width-small: 15%;
$nav-bar-minimum: 120px;
$home-main-size: 55%;

// border-radius
$border-radius-small: 10px;
$border-radius-normal: 20px;
$border-radius-medium: 25px;
$border-radius-circular: 50%;